---
import EpisodeItem from "./EpisodeItem.astro";
import { episodes } from "../../lib/rss";

---
<ul aria-label="Episodios">
  <li class="border-b ">
    {
      episodes.map((episode) => (
        <EpisodeItem title={episode.title} description={episode.description} image={episode.image}  />
      ))
    }
  </li>
</ul>
<div class="mt-8 flex justify-center pb-16">
  <button class="btn">
    <span class="rounded-full px-8 py-4 text-center text-sm text-light-text-heading dark:text-white">
       Mas episodios
    </span>
  </button>
</div>