---
const { audio } = Astro.props;


---

<button class="box-border flex rounded-full border">
  <span class="flex w-full items-center rounded-full p-2 pr-4 dark:text-white">
    <span class="mr-3 flex h-7 w-7 items-center justify-center rounded-full dark:bg-white dark:text-test">
      
    </span>
  </span>
</button>
