@import "tailwindcss";
@import 'atropos/styles.css';
@import 'atropos';



@theme {
    --color-background: oklch(13.85% .025 273.24 / var(--tw-bg-opacity, 1));
    --color-card: #9D8D8F;
    --color-redish: #E64833;
    --color-brownish: #874F41;
    --color-blueish: #90AEAD;
    --color-text-bg: #F5F5F5;
  }