---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proletario y Parasito | Podcast">
  <h1 class="text-4xl font-bold text-light-text-heading dark:text-text-bg">
    Episodios
  </h1>
</Layout>
