---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proletario y Parasito | Podcast">
  <div class="relative z-10 px-8 lg:pr-20 pl-30 bg-card rounded-lg">
    <h1 class="text-4xl font-bold text-light-text-heading dark:text-text-bg">
      Episodes
    </h1>
  </div>
</Layout>
