---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proletario y Parasito | Podcast">
  <div class="relative z-10 px-8 lg:px-18">
    <h1 class="text-4xl font-bold text-light-text-heading dark:text-text-bg">
      Episodios 
    </h1>
  </div>
</Layout>
