---
---

<div class="card bg-gray-600 shadow-md md:pb-3 w-full rounded-lg">
    <div class="p-4">
        <h5 class="mb-2 text-white text-xl font-semibold">
         Darknet Diaries
        </h5>
        <h6 class="mb-2 text-white text-xl font-semibold">
          Jack Rhysider
         </h6>
        <p class="text-white leading-normal font-light">
          Darknet Diaries is a podcast covering true stories from the dark side of the Internet. Stories about hackers, defenders, threats, malware, botnets, breaches, and privacy.
        </p>
      </div>
      <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
        <span class="text-sm text-white font-medium">
          Placeholder
        </span>
      </div>
</div>