---
import podcastInfo from '../lib/podcast.config'
import Hosts from './Hosts.astro'
import Platforms from './Platforms.astro'
import ShowImage from './ShowImage.astro'
import Logo from '../images/logo.webp'

---

<header class="flex max-h-screen scrollbar-thin items-start overflow-y-auto m-2 xl:mt-3 xl:pr-2 xl:w-120 "> 
  <div class="mx-auto lg:min-h-full lg:flex-auto">
    <div class="pt-10 rounded-lg bg-test dark:bg-test">
      <div class="px-4 sm:px6 md:px4-lg:px16">
        <ShowImage image={Logo} />
      </div>
      <div class="px-4 sm:px6 md:px4-lg:px16">
        <p class="mt-8 text-center text-2xl font-bold text-light-text-heading lg:text-left dark:text-white">
          {podcastInfo.title}
        </p>
        <p class="mt-2 text-center text-lg lg:text-left">
          {podcastInfo.description}
        </p>
      </div>
      <div class="px-4 sm:px6 md:px4-lg:px16">
        <h3 class="section-heading hidden lg:block text-2xl text-light-text">Escuchanos</h3>
          <Platforms />
      </div>
      <div class="px-4 sm:px6 md:px4-lg:px16">
        <h3 class="section-heading pb-6 text-2xl hidden lg:block  dark:text-text-bg">Presentado por</h3>
          <Hosts />
      </div>
    </div>
  </div>
</header>