---
import podcastInfo from '../lib/podcast.config'
import Hosts from './Hosts.astro'
import Platforms from './Platforms.astro'
import ShowImage from './ShowImage.astro'
---

<header class="lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-112 lg:items-start lg:overflow-y-auto xl:w-120 bg-card scroll-bar-thin mt-2 ml-2 pr-2"> 
  <div class="relative z-10 mx-auto lg:min-h-full lg:flex-auto">
    <div class="m-2 rounded-lg bg-light-card dark:bg-dark-card lg:pt-12">
      <ShowImage image="https://i.scdn.co/image/ab67656300005f1fbc07b3af063cfcbc55b8f73e" />
      <div>
        <p class="mt-2 text-center text-4xl font-bold text-light-text-heading lg:text-left dark:text-text-bg">
          {podcastInfo.title}
        </p>
        <p class="mt-2 text-center text-2xl font-bold text-light-text-heading lg:text-left dark:text-text-bg">
          {podcastInfo.description}
        </p>
      </div>
    </div>
      <div class="dark:text-text-bg">
        <Platforms />
      </div>
      <div class="dark:text-text-bg">
        <Hosts />
      </div>
  </div>
</header>