---
---

<div class="bg-gray-600 shadow-md md:pb-3 w-full rounded-b-lg">
    <div class="flex flex-row-reverse justify-between p-5">
        <div class="flex flex-col md:left-52 px-9">
          <h1 class="text-white text-4xl font-semibold">
            Darknet Diaries
           </h1>
           <p class="text-gray-300 text-2xl">
            Jack Rhysider
           </p>
           <p class="text-white text-justify leading-normal font-mono text-lg mt-3">
             Darknet Diaries is a podcast covering true stories from the dark side of the Internet. Stories about hackers, defenders, threats, malware, botnets, breaches, and privacy.
           </p>
        </div>
        <img class="w-[250px] h-[250px]" src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts122/v4/3a/80/a7/3a80a7db-5620-f77b-9935-016e61cc2fbc/mza_9399859904175514567.jpg/300x300bb.webp" alt="">
      </div>
      <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
        <span class="text-sm text-white font-medium">
          Placeholder
        </span>
      </div>
</div>