---
---

<div class="card min-w-full bg-gray-600 shadow-md md:pb-3 w-full">
    <div class="aspect-[3/1] mt-5 w-full">
        <div class="relative inline-block w-full">

        </div>
    </div>
</div>