---
import Spotify from '../img/svg/spotify.astro'
import podcastInfo from '../lib/podcast.config'

const { platforms } = podcastInfo
---

<h3 class="section-heading pb-6 pt-12 hidden lg:block">Escuchanos</h3>
<div class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start"> Aqui van los iconos</div>
<h3 class="section-heading pb-6 pt-12 hidden lg:block">Redes</h3>
<div class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start"> Aqui van las redes</div>
