---
import Spotify from "../icons/spotify.astro";
import Ivoox from "../icons/ivoox.astro";
import Kofi from "../icons/kofi.astro";
import Bluesky from "../icons/bluesky.astro";
import podcastInfo from "../lib/podcast.config";

const { platforms } = podcastInfo;
---

<h3 class="section-heading hidden lg:block text-2xl">Escuchanos</h3>
<div class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start" >
  {
    platforms.spotify && (
      <a href={platforms.spotify}  target="_blank" rel="noopener noreferrer">
        <Spotify />
      </a>
    )
  }
    {
      platforms.ivox && (
        <a href={platforms.ivox} target="_blank" rel="noopener noreferrer">
          <Ivoox />
        </a>
      )
    }
</div>
<h3 class="section-heading hidden lg:block text-2xl">Redes</h3>
<div class="mt-16 flex items-center justify-center gap-6 lg:mt-0 lg:justify-start">
  {
    platforms.kofi && (
      <a href={platforms.kofi} target="_blank" rel="noopener noreferrer">
        <Kofi />
      </a>
    )
  }
    {
      platforms.bluesky && (
        <a href={platforms.bluesky} target="_blank" rel="noopener noreferrer">
          <Bluesky />
        </a>
      )
    }
</div>
