---
const { image } = Astro.props;
---

<div class="px-4 sm:px-6 md:px-4 lg:px-16">
  <div id='podcast-art' class="atropos">
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <div class="atropos-inner">
            <img class="w-full" src={image} alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>