---
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Podcast de Proletario y Parasito sobre los simpsons" />
    <meta name="keywords" content="podcast, los simpsons, proletario y parasito" />
    <meta name="author" content="Xabier Figueroa" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <title>{title}</title>
  </head>
  <body class="bg-background font-inter text-light-text-body antialiased dark:bg-blue-500 dark:text-dark-text-body">
      <div class="grid h-full w-full gap-2 p-2 grid-cols-1 xl:grid-cols-4 rounded-lg">
        <Header />
        <main class="xl:col-span-3 col-span-1 rounded-lg dark:bg-test"> 
          <div class="max-w-4xl">
            <div class:list={[
            'mb-12 border-b pb-6 lg:mb16 lg:pb10 dark:border-dark-border',
            Astro.url.pathname === '/' && 'hidden',
            ]}>
            Test
            </div>
            <slot />
          </div>
        </main>
      </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    line-height: inherit;
  }
  .text-light-text-body {
    --tw-text-opacity: 1;
    color: oklch(59.68% .017 285.89 / var(--tw-text-opacity, 1));
  }
</style>