---
import "../styles/global.css";
const {title} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-base-200 min-h-screen">
		<div class="container mx-auto lg:max-w-[960px]">
			<div class="md:flex md:justify-center w-full">
				<main class="-mt-5 w-full">
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>