---
import Header from "../components/Header.astro";
import "../styles/global.css";
const {title} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background font-inter text-light-text-body antialiased dark:bg-dark-background dark:text-dark-text-body">
		<Header />
		<main class="mx-2 rounded-lg bg-light-card lg:relative lg:ml-112 lg:min-h-screen xl:ml-120 dark:bg-dark-card">
			<div class="relative mt-2 pt-16">
				<div class="bg-gradient-light absolute left-0 right-0 top-0 z-0 h-80 w-full opacity-30 dark:bg-gradient-dark">

				</div>
			</div>
			<slot />
		</main>
	</body>
</html>